<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pf.tmpl.mapper.AbilityInfoMapper">

    <resultMap id="BaseResultMap" type="com.pf.tmpl.dto.AbilityInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="moduleCode" column="module_code" jdbcType="VARCHAR"/>
            <result property="abilityName" column="ability_name" jdbcType="VARCHAR"/>
            <result property="abilityCode" column="ability_code" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="weight" column="weight" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,module_code,ability_name,
        ability_code,remark,is_delete,
        weight,create_time,update_time
    </sql>
</mapper>
