<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pf.tmpl.mapper.ModuleInfoMapper">

    <resultMap id="BaseResultMap" type="com.pf.tmpl.dto.ModuleInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="systemCode" column="system_code" jdbcType="VARCHAR"/>
            <result property="serviceCode" column="service_code" jdbcType="VARCHAR"/>
            <result property="moduleCode" column="module_code" jdbcType="VARCHAR"/>
            <result property="moduleName" column="module_name" jdbcType="VARCHAR"/>
            <result property="moduleUrl" column="module_url" jdbcType="VARCHAR"/>
            <result property="moduleIcon" column="module_icon" jdbcType="VARCHAR"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,system_code,service_code,
        module_code,module_name,module_url,
        module_icon,is_delete,update_time,
        create_time
    </sql>
</mapper>
