<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pf.tmpl.mapper.ServiceInfoMapper">

    <resultMap id="BaseResultMap" type="com.pf.tmpl.dto.ServiceInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="systemCode" column="system_code" jdbcType="VARCHAR"/>
            <result property="serviceCode" column="service_code" jdbcType="VARCHAR"/>
            <result property="serviceName" column="service_name" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,system_code,service_code,
        service_name,remark,is_delete,
        update_time,create_time
    </sql>
</mapper>
