<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pf.tmpl.mapper.UserRoleRefMapper">

    <resultMap id="BaseResultMap" type="com.pf.tmpl.dto.UserRoleRef">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="systemCode" column="system_code" jdbcType="VARCHAR"/>
            <result property="roleCode" column="role_code" jdbcType="VARCHAR"/>
            <result property="userCode" column="user_code" jdbcType="VARCHAR"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,system_code,role_code,
        user_code,is_delete,create_time,
        create_user,update_time,update_user
    </sql>
</mapper>
